{% extends 'base.html.twig' %}

{% block title %}Mon profil
{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1>Vue d'ensemble</h1>
        <div class="home__details">
            {% if clients %}
                <div class="home__details__item">
                    <h2 class="home__details__title">Clients</h2>
                    <span>{{ clients|length }}</span>
                </div>
            {% endif %}
            {% if invoices %}
                <div class="home__details__item">
                    <h2 class="home__details__title">Factures</h2>
                    <span>{{ totalInvoices }} €</span>
                    <p> Pour un total de {{ invoices|length }} {{ (invoices|length > 1) ? 'factures' : 'facture' }}</p>
                </div>
            {% endif %}
            {% if expenses %}
                <div class="home__details__item">
                    <h2 class="home__details__title">Dépenses</h2>
                    <span>{{ totalExpense }} €</span>
                    <p> Pour un total de {{ expenses|length }} {{ (expenses|length > 1) ? 'dépenses' : 'dépense' }}</p>
                </div>
            {% endif %}
            {% if estimates %}
                <div class="home__details__item">
                    <h2 class="home__details__title">Devis</h2>
                    <span>{{ totalEstimates }} €</span>
                    <p> Pour un total de {{ estimates|length }} devis</p>
                </div>
            {% endif %}
            <div class="home__details__item">
                <h2 class="home__details__title">Chiffre d'affaires</h2>
                <span>{{ totalInvoices - totalExpense}} €</span>
                <p>(Factures - Dépenses)</p>
            </div>
        </div>
    </div>

    <div class="example-wrapper">
        {% if app.user %}
        {% else %}
            <h1>Bonjour</h1>
            <a href="{{ path('app_login') }}">Se connecter</a>
        {% endif %}
    </div>
{% endblock %}
