{% extends './base.html.twig' %}

{% block title %}Hello AccountController!
{% endblock %}

{% block body %}
	<div class="example-wrapper element__form__container">
		<div class="element__form__title">
			<h1>Édition de la facture n°{{ invoice.id }}</h1>
			<a href="/invoice">Retour</a>
		</div>
		{{ form_start(form) }}
			{{ form_row(form.reference, {'label': 'Réference'}) }}
			{{ form_row(form.dueDate, {'label': 'Échéance'}) }}
			{{ form_row(form.totalAmount, {'label': 'Montant'}) }}
			{{ form_row(form.taxRate, {'label': 'TVA'}) }}
			{{ form_row(form.notes, {'label': 'Commentaire'}) }}
			{{ form_row(form.status, {'label': 'État'}) }}
		{{ form_end(form) }}
	</div>
{% endblock %}
