{% extends 'base.html.twig' %}

{% block title %}Hello InvoiceController!
{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1>Factures</h1>
        {% if invoices|length < 1 %}
        <div class="list__header">
            <p>Aucune facture</p>
            <a class="btn btn-primary" href="{{ path("app_invoice_add") }}">Nouvelle facture</a>
        </div>
        {% else %}
        <div class="list__header">
            <p>{{ invoices|length }} {{ (invoices|length > 1) ? 'factures' : 'facture' }}
            </p>
            <a class="btn btn-primary" href="{{ path("app_invoice_add") }}"><img
                        src="{{ asset('images/icons/icon-add.svg') }}">Nouvelle facture</a>
        </div>
        <table>
            <thead>
            <tr>
                <th>Facture n°</th>
                <th>Date de création</th>
                <th>Échéance</th>
                <th>Montant</th>
                <th>TVA</th>
                <th>Commentaire</th>
                <th>État</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for invoice in invoices %}
            <tr>
                <td>{{ invoice.id }}</td>
                <td>{{ invoice.createdAt | date('d/m/Y') }}</td>
                <td>{{ invoice.dueDate | date('d/m/Y') }}</td>
                <td>{{ invoice.totalAmount }} € TTC</td>
                <td>{{ invoice.taxRate }} %</td>
                <td>{{ invoice.notes }}</td>
                <td>{{ invoice.status }}</td>
                <td>
                    <a href="{{ path('app_invoice_edit', {'id': invoice.id}) }}">
                        Modifier</a>
                    <a href="{{ path('app_invoice_delete', {'id': invoice.id}) }}">
                        Supprimer</a>
                </td>
            </tr>
            </tbody>
            {% endfor %}
        </table>
        {% endif %}
    </div>
{% endblock %}
