{% extends 'base.html.twig' %}

{% block title %}Hello InvoiceController!
{% endblock %}

{% block body %}
<style>
	.example-wrapper {
		margin: 1em auto;
		max-width: 800px;
		width: 95%;
		font: 18px / 1.5 sans-serif;
	}
	.example-wrapper code {
		background: #F5F5F5;
		padding: 2px 6px;
	}
</style>

<div class="example-wrapper">
	<h1>Factures</h1>
	<table>
		<thead>
			<tr>
				<th>Numéro</th>
				<th>Date de création</th>
				<th>Échéance</th>
				<th>Montant</th>
				<th>TVA</th>
				<th>Commentaire</th>
				<th>Statut</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for invoice in invoices %}
				<tr>
					<td>{{ invoice.id }}</td>
					<td>{{ invoice.createdAt | date('d/m/Y') }}</td>
					<td>{{ invoice.dueDate | date('d/m/Y') }}</td>
					<td>{{ invoice.totalAmount }}€</td>
					<td>{{ invoice.taxRate }}%</td>
					<td>{{ invoice.notes }}</td>
					{# <td>{{ invoice.client }}</td> #}
				{# <td>{{ invoice.customer.company }}</td> #}
					{# <td>{{ invoice.customer.firstName }}
																																																																																																																																																																										{{ invoice.customer.lastName }}</td> #}
					{# <td>{{ invoice.amount }}</td> #}
				</tr>
			</td>
			<td>
				{{ invoice.status }}
			</td>
			<td>
				<a href="{{ path('app_invoice_edit', {'id': invoice.id}) }}">
					Modifier</a>
			</td>
			<td>
				<a href="{{ path('app_invoice_delete', {'id': invoice.id}) }}">
					Supprimer</a>
			</td>
		</tbody>
	</td>
</tbody></tr>{% endfor %}</tbody></tbody></table></div>{% endblock %}
