{% extends 'base.html.twig' %}

{% block title %}Dépense n°{{ expense.id }} - Devis&Facture {% endblock %}

{% block body %}
    <div class="example-wrapper element__form__container">
        <div class="client-info">
            <h3>Informations de la dépense</h3>
            <p><span class="label">Dépense n°:</span> {{ expense.id }}</p>
            <p><span class="label">Libellé:</span> {{ expense.name }}</p>
            <p><span class="label">Date:</span> {{ expense.date | date('d/m/Y') }}</p>
            <p><span class="label">Montant:</span> {{ expense.amount }}</p>
            <p><span class="label">État:</span> {{ expense.status }}</p>
        </div>

        <div class="btn__container-left">
            <a class="btn btn-primary" href="{{ path('export_expense_to_pdf', {'id': expense.id}) }}">Exporter en PDF</a>
        </div>
    </div>
{% endblock %}
