{% extends './base.html.twig' %}

{% block title %}Ajout d'un client - Facture&Devis{% endblock %}

{% block body %}
    <div class="list__container element__form__container">
        <div class="element__form__title">
            <h1>Ajouter un client</h1>
            <a href="/client">Retour</a>
        </div>
        {{ form_start(form) }}
        <h3>Informations du client</h3>
        {{ form_label(form.Firstname, 'Prénom (requis)') }}
        {{ form_widget(form.Firstname, {'attr': {'class': 'form-control'}}) }}

        {{ form_label(form.Lastname, 'Nom (requis)') }}
        {{ form_widget(form.Lastname, {'attr': {'class': 'form-control'}}) }}

        {{ form_label(form.Society, 'Société') }}
        {{ form_widget(form.Society, {'attr': {'class': 'form-control'}}) }}

        {{ form_label(form.Job, 'Fonction') }}
        {{ form_widget(form.Job, {'attr': {'class': 'form-control'}}) }}

        {{ form_label(form.email, 'Email') }}
        {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.email) }}

        {{ form_label(form.Phone, 'Téléphone') }}
        {{ form_widget(form.Phone, {'attr': {'class': 'form-control'}}) }}
        {% for error in form.Phone.vars.errors %}
            <li>{{ error.message|trans }}</li>
        {% endfor %}
        <h3>Coordonnées du client</h3>
        {{ form_label(form.Address, 'Adresse') }}
        {{ form_widget(form.Address, {'attr': {'class': 'form-control'}}) }}

        {{ form_label(form.Additional_address, "Complément d'adresse") }}
        {{ form_widget(form.Additional_address, {'attr': {'class': 'form-control'}}) }}

        {{ form_label(form.Postal_code, 'Code postal') }}
        {{ form_widget(form.Postal_code, {'attr': {'class': 'form-control'}}) }}

        {{ form_label(form.City, 'Ville') }}
        {{ form_widget(form.City, {'attr': {'class': 'form-control'}}) }}

        {{ form_label(form.Country, 'Pays') }}
        {{ form_widget(form.Country, {'attr': {'class': 'form-control'}}) }}

        <h3>Autres informations</h3>
        {{ form_label(form.Website, 'Site web') }}
        {{ form_widget(form.Website, {'attr': {'class': 'form-control'}}) }}

        {{ form_label(form.Comments, 'Commentaires') }}
        {{ form_widget(form.Comments, {'attr': {'class': 'form-control'}}) }}
        <div class="form-group">
            <button type="submit" class="btn btn-primary update-btn">Enregistrer</button>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
