{% extends './base.html.twig' %}

{% block title %}Ajout d'un client - Facture&Devis{% endblock %}

{% block body %}
    <div class="example-wrapper element__form__container">
        <div class="element__form__title">
            <h1>Ajouter un client</h1>
            <a href="/client">Retour</a>
        </div>
        {{ form_start(form) }}
            {{ form_row(form.Firstname, {'label': 'Prénom'}) }}
            {{ form_row(form.Lastname, {'label': 'Nom'}) }}
            {{ form_row(form.Society, {'label': 'Société'}) }}
            {{ form_row(form.email, {'label': 'Email'}) }}
            {{ form_row(form.Phone, {'label': 'Téléphone'}) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
