{% extends 'base.html.twig' %}

{% block title %}Client {{client.firstname}} {{ client.lastname }} - Facture&Devis{% endblock %}

{% block body %}
    <div class="list__container">
        <div class="element__form__title">
            <h1>Client {{client.firstname}} {{ client.lastname }}</h1>
            <a href="/client">Retour</a>
        </div>
        <div class="client-info">
            <h3>Informations du client</h3>
            <p><span class="label">Nom:</span> {{ client.getLastname() }}</p>
            <p><span class="label">Prénom:</span> {{ client.getFirstname() }}</p>
            <p><span class="label">Société:</span> {{ client.getSociety() }}</p>
            <p><span class="label">Fonction:</span> {{ client.getJob() }}</p>
            <p><span class="label">Email:</span> {{ client.getEmail() }}</p>
            <p><span class="label">Téléphone:</span> {{ client.getPhone() }}</p>
        </div>

        <div class="client-info">
            <h3>Coordonnées du client</h3>
            <p><span class="label">Adresse:</span> {{ client.getAddress() }}</p>
            <p><span class="label">Complément d'adresse:</span> {{ client.getAdditionalAddress() }}</p>
            <p><span class="label">Code postal:</span> {{ client.getPostalCode() }}</p>
            <p><span class="label">Ville:</span> {{ client.getCity() }}</p>
            <p><span class="label">Pays:</span> {{ client.getCountry() }}</p>
        </div>

        <div class="client-info">
            <h3>Autres informations</h3>
            <p><span class="label">Site web:</span> {{ client.getWebsite() }}</p>
            <p><span class="label">Commentaires:</span> {{ client.getComments() }}</p>
        </div>

        <div class="btn__container-left">
            <a class="btn btn-primary" href="{{ path('export_to_pdf', {'id': client.id}) }}">Exporter en PDF</a>
        </div>
    </div>
{% endblock %}
