<header class="header">
    <a href="/"><img src="{{ asset('images/logo.webp')}}"></a>
    <div>
        {% if app.user %}
            <a href="{{ path('app_logout') }}">
                Se déconnecter</a>
            <a href="{{ path('app_profile') }}">{{ app.user.firstname }} {{ app.user.lastname }}</a>
        {% else %}
            <a href="{{ path('app_login') }}">Se connecter</a>
        {% endif %}
    </div>
</header>
