<!DOCTYPE html>
<html lang="en">
<body>
    <section class="navigation">
        <ul>
            <li><a href="/"><img src="{{ asset('images/icons/icon-home.svg')}}"> Tableau de bord</a></li>
            <li><a href="/client"><img src="{{ asset('images/icons/icon-clients.svg')}}">Clients</a></li>
            <!--<li><a href="/devis"><img src="{{ asset('images/icons/icon-estimate.svg')}}">Devis</a></li>-->
            <li><a href="/invoice"><img src="{{ asset('images/icons/icon-invoice.svg')}}">Factures</a></li>
            <!-- <li><a href="/depense"><img src="{{ asset('images/icons/icon-fees.svg')}}">Dépenses</a></li>-->
            <!--  <li><a href="/parametres"><img src="{{ asset('images/icons/icon-settings.svg')}}">Paramètres</a></li>-->
        </ul>
    </section>
</body>
</html>