{% extends './base.html.twig' %}

{% block title %}Édition du devis n° {{ estimate.id }} - Factures&Devis
{% endblock %}

{% block body %}
    <div class="example-wrapper element__form__container">
        <div class="element__form__title">
            <h1>Edition du devis n°{{ estimate.id }}</h1>
            <a href="/estimate">Retour</a>
        </div>
        {{ form_start(form) }}

        {{ form_label(form.amount, 'Montant', {'label_attr': {'class': 'required'}}) }}
        {{ form_widget(form.amount, {'attr': {'class': 'form-control', 'required': 'required'}}) }}

        {{ form_label(form.state, 'État', {'label_attr': {'class': 'required'}}) }}
        {{ form_widget(form.state, {'attr': {'class': 'form-control', 'required': 'required'}}) }}

        <div class="form-group">
            <button type="submit" class="btn btn-primary update-btn">Enregistrer</button>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
