{% extends 'base.html.twig' %}

{% block title %}Liste des devis - Factures&Devis
{% endblock %}

{% block body %}
	<div class="example-wrapper">
		<h1>Devis</h1>
		{% if estimates|length < 1 %}
			<div class="list__header">
				<p>Aucun devis</p>
				<a class="btn btn-primary" href="{{ path("app_estimate_add") }}">Nouveau devis</a>
			</div>
		{% else %}
			<div class="list__header">
				<p>{{ estimates|length }}
					{{ (estimates|length > 1) ? 'devis' : 'devis' }}
				</p>
				<a class="btn btn-primary" href="{{ path("app_estimate_add") }}"><img src="{{ asset('images/icons/icon-add.svg') }}">Nouveau devis</a>
			</div>
			<table>
				<thead>
					<tr>
						<th>Devis n°</th>
						<th>Date de création</th>
						<th>Montant</th>
						<th>État</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for estimate in estimates %}
						<tr>
							<td>{{ estimate.id }}</td>
							<td>{{ estimate.createdAt | date('d/m/Y') }}</td>
							<td>{{ estimate.amount }}€</td>
							<td>{{ estimate.state }}</td>
							<td>
								<div class="dropdown">
									<div class="dropdown__togle__container">
										<a class="dropdown__toggle"
										   href="{{ path('app_estimate_show', {'id': estimate.id}) }}"><img src="{{ asset('images/icons/icon-views.svg')}}"> Afficher</a>
										<button class="dropdown__toggle menu__toggle" onclick="toggleDropdown(this)" aria-haspopup="true"
												aria-expanded="false">
											>
										</button>
									</div>

									<div class="dropdown__menu" id="dropdown__menu" style="display: none;">
										<a class="dropdown__toggle"
										   href="{{ path('app_estimate_edit', {'id': estimate.id}) }}"><img src="{{ asset('images/icons/icon-edit.svg')}}"> Modifier</a>

										<button class="dropdown__toggle" onclick="openModal(this)"><img src="{{ asset('images/icons/icon-delete.svg')}}">Supprimer</button>

										<div class="modal" id="modal">
											<div class="modal__container">
												<h2 class="modal__title">Êtes-vous sûr de vouloir supprimer ce client ?</h2>
												<p class="modal__content">Toute suppression est définitive et les données ne pourront être récupérées.</p>
												<div class="btn__container">
													<a class="btn btn-primary btn__warning delete-button"
													   href="{{ path('app_estimate_delete', {'id': estimate.id}) }}">Supprimer</a>
													<button class="btn btn-primary cancel-button"
															onclick="closeModal(this)" >Annuler</button>
												</div>
											</div>
										</div>

									</div>
								</div>
							</td>
						</tr>
					</tbody>
				{% endfor %}
			</table>
		{% endif %}
		<script>
			function toggleDropdown(button) {
				const dropdownMenu = button.parentNode.nextElementSibling;
				if (dropdownMenu.style.display === 'none') {
					dropdownMenu.style.display = 'block';
				} else {
					dropdownMenu.style.display = 'none';
				}
			}
			function openModal(button) {
				const modal = button.parentNode.querySelector('.modal');
				modal.style.display = 'flex';
			}

			function closeModal(button) {
				const modal = button.closest('.modal');
				modal.style.display = 'none';
			}

			function closeMenuOnClickOutside(event) {
				const dropdownMenus = document.querySelectorAll('.dropdown__menu');
				const menuToggles = document.querySelectorAll('.menu__toggle');

				dropdownMenus.forEach((dropdownMenu, index) => {
					if (!dropdownMenu.contains(event.target) && !menuToggles[index].contains(event.target)) {
						dropdownMenu.style.display = 'none';
					}
				});
			}

			document.addEventListener('click', closeMenuOnClickOutside);
		</script>
	</div>
{% endblock %}
